<%= form_with(model: appointment, class: "contents") do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul class="list-disc ml-6">
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": appointment.errors[:patient_id].none?, "border-red-400 focus:outline-red-600": appointment.errors[:patient_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.datetime_field :date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": appointment.errors[:date].none?, "border-red-400 focus:outline-red-600": appointment.errors[:date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :time %>
    <%= form.time_field :time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": appointment.errors[:time].none?, "border-red-400 focus:outline-red-600": appointment.errors[:time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": appointment.errors[:status].none?, "border-red-400 focus:outline-red-600": appointment.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reason %>
    <%= form.textarea :reason, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": appointment.errors[:reason].none?, "border-red-400 focus:outline-red-600": appointment.errors[:reason].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
